---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Icon } from 'astro-icon/components'
//import terminal from '../components/icons/terminal.astro'

const title = 'About';
const description = 'About pwd.dev';
const permalink = `${Astro.site.href}about`;
---


<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    
    <span class="flex" >
      <Icon class="text-4xl" name="line-md:roundabout-right" />
    <h1>About</h1>
    </span>
    <p>Text placeholder.</p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
