<style>
  img {
    display: block;
    width: 75px;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
</style>

<a href="/">
  <img class="text-green-600" alt="pwd.dev" src="/assets/terminal.png" width="75" height="50" />

</a>
