<script>
    import { gsap } from "gsap";

    /**
    gsap.fromTo(
        document.querySelector("h2"),
        { opacity: 0, scale: 0.5 },
        { opacity: 1, duration: 1, scale: 1, repeat: -1, yoyo: true },
    );
 */
    gsap.from(
 
    ".stagger-box", {
        x: 150,
        y: 150,
        opacity: 0,
        duration: 2.5,
        ease: "power1.inOut",
        rotation: 120,
        borderRadius: "100%",
        stagger: {
          amount: 0.5,
          grid: [6, 3],
          axis: "x",
          ease: "circ.inOut",
          from: "center",
        },
        repeat: 0,
      });

    </script>

<h1 class="stagger-box mt-1 font-bold  flex justify-center items-center ">p</h1>
<h1 class="stagger-box mt-1 font-bold  flex justify-center items-center ">w</h1>
<h1 class="stagger-box mt-1 font-bold  flex justify-center items-center ">d</h1>
<h1 class="stagger-box mt-1 font-bold  flex justify-center items-center ">.</h1>
<h2 class="stagger-box mt-1  w-4 h-25 flex items-center text-green-600">d</h2>
<h2 class="stagger-box mt-1  w-4 h-25 flex items-center text-green-600">e</h2>
<h2 class="stagger-box mt-1  w-4 h-25 flex items-center text-green-600">v</h2>